h1#exp{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Arial', sans-serif;
}

#agregarExp{
    margin-left: 20px;
}

#depurarExp{
    margin-left: 20px;
}

#mydatatable-container{
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

#tablaFoliosD-container{
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
}



#modalAgregar{
    font-family: 'Arial', sans-serif;
}

#headerAgregar{
    background-color:#0984e3;
    color: white;
}

#modalActualizar{
    font-family: 'Arial', sans-serif;
}

#headerActualizar{
    background-color:#636e72;
    color: white;
}

#modalEliminar,#modalEliminarD{
    font-family: 'Arial', sans-serif;
}

#headerEliminar{
    background-color:#b71540;
    color: white;
}

#modalDepurar{
    font-family: 'Arial', sans-serif;
}

#headerDepurar{
    background-color:#F79F1F;
    color: white;
}


#modalConfirmDep{
    font-family: 'Arial', sans-serif;
}

#headerConfirmDep{
    background-color:#b71540;
    color: white;
}

#mydatatable tfoot input{
    width: 100% !important;
}
#mydatatable tfoot {
    display: table-header-group !important;
}

#mydatatableFolios tfoot input{
    width: 100% !important;
}
#mydatatableFolios tfoot {
    display: table-header-group !important;
}

/* CSS personalizado */
.modal-super .modal-dialog {
    width: 100%; /* Ancho personalizado del modal */
    max-width: 100%; /* Ancho máximo personalizado */
    margin: auto; /* Centrar el modal horizontalmente */
}

@media (min-width: 1400px) {
    .modal-super .modal-dialog {
        max-width: 1880px; /* Ancho máximo personalizado para dispositivos grandes */
    }
}

.Fyear{
    background-color:#d63031;
    color: white;
}

#mydatatable,#mydatatableFolios{
    font-size: 15px;
    font-family: 'Arial', sans-serif;;
}