body{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding-bottom: 7em;
    min-height: 100vh;
    position:relative;
    margin-bottom: 60px;

}

.row{
    margin:0px !important;
}

#logo-gto{
    height: 5rem;
    width: auto;
}

#title-scec{
    text-align:left;
    margin-right: 40px;
    margin-left: 10px;
    font-family:'Helvetica', sans-serif;
    
}

b#s{
    color: rgb(33, 29, 243);
    font-size: 24px;
}

b#c1{
    color:#e32bac;
    font-size: 24px;
}

b#e{
    color:rgb(23, 245, 23);
    font-size: 24px;
}

b#c2{
    color:#f78d0f;
    font-size: 24px;
}

b#sT{
    color: rgb(33, 29, 243);
}

b#c1T{
    color:#e32bac;
}

b#eT{
    color:rgb(23, 245, 23);
}

b#c2T{
    color:#f78d0f;
}

h6#sdu{
    font-size: 13px;
    text-align: left;
}

a.nav-link{
    font-size: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 5px;
}

.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #0a4275;
    color: white;
    text-align: center;
    z-index: 2;
    margin-top: 60px;
}

.contenido {
    /* Agrega margen inferior igual a la altura del footer para evitar que el contenido se solape con el footer */
    margin-bottom: 60px; /* Ajusta según sea necesario */
    position:relative;
    z-index: 2;
}

.f1{
   /* background:#e32bac;*/
   background: #bc4e9c;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   padding-top: 10px;
   text-align: center;
}

.f2{
   /* background-color:#06149b;*/
   background: #0575E6;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   text-align: center;
   font-size: 17px;
}

.l1{
    margin-bottom: 10px;
}

.r1{
    margin-top:20px;
    color: white !important;
}

.card-title{
    color: white !important;
    text-align: center;
    font-size: 42px;
    font-family:'Trebuchet MS';
}

#welcome{
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

div.carousel{
    margin-top: 20px;
}

img.d-block{
    border-radius: 8px;
}
